@charset "UTF-8";
/*colores de los enlaces en nav y efecto linea debajo */
a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

a:hover, a:focus {
  background-size: 100% 2px;
}

h1 {
  margin-top: 6%;
  font-size: 50px;
}

h2 {
  font-size: 50px;
  font-family: "Nunito", sans-serif;
}

h3 {
  font-size: 48px;
  font-family: "Nunito", sans-serif;
}

h4 {
  font-size: 12px;
  font-family: "Nunito", sans-serif;
}

h5 {
  font-size: 10px;
  font-family: "Nunito", sans-serif;
}

h6 {
  font-size: 8px;
  font-family: "Nunito", sans-serif;
}

/*transparencia del boton*/
.boton a {
  color: azure;
}

.boton :hover {
  opacity: 0.9;
}

/*alinear textos al centro*/
.centrarText {
  text-align: center !important;
}

.textUno {
  font-size: 56px;
  color: #f12c3e;
  opacity: 0.6;
}


/*color, subrayado y tamaño de los subtitulos*/
h4 {
  font-size: 20px;
  color: #c8aa00;
}

/*Flexbox en lista*/
.flexLista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*lista ordenada, color del texto, estilo de la lista y margenes*/
.tick {
  color: midnightblue;
  list-style-image: url(../../imagenes/ticky.png);
  margin: 1%;
  padding: 1%;
}

/*Estilos en las listas*/
ol, .sin {
  list-style: none;
}

/*Imagen de estrella con opacidad en Productos*/
img:hover {
  -webkit-filter: 0.9;
          filter: 0.9;
}

.lista-1 {
  fontsize: 99%;
}

.lista-2 {
  fontsize: 98%;
}

.lista-3 {
  fontsize: 97%;
}

.lista-4 {
  fontsize: 96%;
}

.lista-5 {
  fontsize: 95%;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

.header .header-scrolled {
  background: #fff;
  padding: 15px 0;
  -webkit-box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
          box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
  line-height: 0;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}

/*--------------------------------------------------------------
# desactivar animacion en mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    -webkit-transition-delay: 0 !important;
            transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
Boton volver arriba
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #f13939;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top :hover {
  background: #f13939;
  color: #fff;
}

.back-to-top .active {
  visibility: visible;
  opacity: 1;
}

/*transicion en varios elementos*/
.starProd {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  margin: 0 auto;
  /*efecto al pasar el mouse en imagen*/
}

.starProd :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.colorLista {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animacion */
  margin: 0 auto;
}

.colorLista img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

:root {
  scroll-behavior: smooth;
}

/*estilo de body*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

/*estilo de seccion*/
.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #9e0000;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #f13939;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*estilo de fondo*/
kbd {
  background-color: #5969f3;
}

/*--------------------------------------------------------------
# Navegacion
--------------------------------------------------------------*/
/**
* Navegacion en escritorio
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a i, .navbar a :focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a :focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #013289;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #f13939;
}

.navbar .getstarted, .navbar .getstarted:focus {
  background: #f13939;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: #f13939;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a a:hover, .navbar .dropdown ul a .active:hover, .navbar .dropdown ul a li:hover > a {
  color: #f13939;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar a {
  color: #9c0000 !important;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/*navegacion movil*/
.mobile-nav-toggle {
  color: #012970;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mobile-nav-toggle .bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  /*navegacion*/
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 22, 61, 0.9);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #012970;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #4154f1;
}

.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a :hover, .navbar-mobile .dropdown ul a .active:hover {
  color: #4154f1;
}

.dropdown ul li:hover > a {
  color: #4154f1;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*aplicando grids*/
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-ordinal-group: initial;
      -ms-flex-order: initial;
          order: initial;
  margin-bottom: 2%;
}

/*fondo estilo*/
.colorFondoSN {
  padding: 0 0 30px 0;
  font-size: 14px;
  padding: 50px 0;
  background: 	 #e6efff;
  border-top: 1px solid #e1ecff;
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  color: #012970;
}

.colorFondoSN .testimonio {
  margin-top: 20px;
  background: #F2F3F4;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1ecff;
}

/*fondo de aprender*/
.fondoAprender {
  background: #e4fffb;
  font-size: 14px;
  padding: 50px 0;
  border-top: 1px solid #e1ecff;
  margin-top: 20px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1ecff;
}

/*Lista*/
.tick {
  color: midnightblue;
  list-style-image: url(../imagenes/ticky.png) !important;
  margin: 1%;
  padding: 1%;
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1px;
  color: #70b9b0;
}

.contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
  color: #888;
}

.contact .social-links {
  padding-bottom: 20px;
  /*Contacto estilo de los enlaces*/
}

.contact .social-links a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  background: #fff;
  color: #70b9b0;
  line-height: 0;
  margin-right: 4px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #70b9b0;
}

.contact .social-links a :hover {
  background: #70b9b0;
  color: #fff;
}

.contact .info {
  color: #777;
}

.contact .info i {
  font-size: 32px;
  color: #70b9b0;
  float: left;
  line-height: 1;
}

.contact .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 14px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #92cac3;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading :before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #92cac3;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form button[type=submit] {
  background: #70b9b0;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact .php-email-form button[type=submit] :hover {
  background: #92cac3;
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
Seccion Nuestro método
--------------------------------------------------------------*/
.values .box {
  padding: 30px;
  -webkit-box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
          box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}

.values .box img {
  padding: 30px 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.values .box :hover {
  -webkit-box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
          box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.values .box :hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*Color iconos*/
i {
  color: red;
}

.section-title {
  color: #f12c3e !important;
}

/*--------------------------------------------------------------
Seccion Nuestro método
--------------------------------------------------------------*/
.values .box {
  padding: 30px;
  -webkit-box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
          box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}

.values .box img {
  padding: 30px 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.values .box :hover {
  -webkit-box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
          box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.values .box :hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*Color iconos*/
i {
  color: red;
}

.section-title {
  color: #f12c3e !important;
}

/*Botones estilos*/
.boton {
  background-color: #f12c3e !important;
  border-radius: .25rem;
  border-width: 1px;
  border-color: #f12c3e !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  font-weight: 600 !important;
  height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .02em;
  line-height: 140%;
  padding: 0 .5rem !important;
  padding: calc(.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-color: #dbdbdb;
}

@media (max-width: 768px) {
  .values .box {
    padding: 1px;
    -webkit-box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
            box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 50%;
  }
  .values .box img {
    padding: 00px 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

/*-Botones-*/
.negroBoton {
  border-color: #1a1a1a !important;
  background-color: #000000 !important;
}

button a {
  color: white !important;
}

.margin {
  margin: 10px;
}

/*--------------------------------------------------------------
# Pie de página
--------------------------------------------------------------*/
.footer {
  background: #f6f9ff;
  padding: 0 0 30px 0;
  font-size: 14px;
}

.footer .footer-newsletter {
  padding: 50px 0;
  background: #f6f9ff;
  border-top: 1px solid #e1ecff;
}

.footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  color: #012970;
}

.footer .footer-newsletter form {
  margin-top: 20px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1ecff;
}

.footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
}

.footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: #f14141;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 4px;
}

.footer .footer-newsletter form :hover {
  background: #5969f3;
}

.footer .footer-top {
  background: white url(../img/footer-bg.png) no-repeat right top;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
}

.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .footer-top .social-links a :hover {
  color: #012970;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #012970;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .footer-links ul a {
  color: #013289;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-top .footer-links ul a :hover {
  color: #4154f1;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d0d4fc;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-top .footer-links ul li :first-child {
  padding-top: 0;
}

@media (max-width: 992px) {
  .footer .footer .footer-top {
    background-position: center bottom;
  }
}

.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}

.footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #012970;
}

.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}
/*# sourceMappingURL=origen.css.map */